<p style="color: green"><%= notice %></p>
<% if Current.user %><% if @blog.user_id == Current.user.id %><%= link_to "New Blog Post", new_blog_post_path(@blog) %><% end %><% end %>
<%= render @blog %>
