<div id="<%= dom_id comment %>">
  <p><%= link_to "p/" + comment.post.title, comment.post %></p>
  <p><%= comment.body %></p>
  <p><%= link_to "u/" + comment.user.username, comment.user %></p>
</div>
