<p style="color: green"><%= notice %></p>

<%= render @comment %>

<% if Current.user %>
<div>
  <%= link_to "Edit this comment", [:edit, @comment.post, @comment] %> |
  <%= link_to "Destroy this comment", @comment, data: { turbo_method: :delete } %>
</div>
<% end %>
