<h1>Changelog</h1><pre>94520f3 (yarn upgrade trix, 2025-05-25)
e770922 (bundle update, 2025-05-25)
b9d6086 (dark mode available, 2025-05-25)
101a908 (sendgrid part 2, 2025-05-23)
d80f64c (sendgrid, 2025-05-23)
42e1dd7 (email setup v18, 2025-05-15)
2f8e02f (email setup v17, 2025-05-13)
4ad7efe (email setup v16, 2025-05-13)
923c306 (email setup v15, 2025-05-13)
78daa9c (email setup v14, 2025-05-13)
e960348 (email setup v13, 2025-05-13)
c121d2c (email setup v12, 2025-05-13)
b2cb9d9 (email setup v11, 2025-05-13)
9faa616 (email setup v10, 2025-05-13)
730bc85 (figuring out sendmail v7, 2025-05-12)
69b6f34 (figuring out sendmail v6, 2025-05-12)
8b140b5 (figuring out sendmail v5, 2025-05-12)
55bf658 (figuring out sendmail v4, 2025-05-12)
f727e8d (localhost to hosts file, 2025-05-12)
a8d4020 (bundle update, 2025-05-12)
926ee69 (figuring out sendmail v3, 2025-05-08)
4b3422b (figuring out sendmail v2, 2025-05-08)
d54cdbf (figuring out sendmail v1, 2025-05-08)
188246b (add sendmail to dockerfile, 2025-05-08)
a2f09b6 (menu item background color pinkie theme, 2025-05-08)
f4f8edc (changelog, 2025-05-08)
49174b6 (create user and confirm email through forgot password email and link, 2025-05-08)
72d4e1f (sendmail for prod. increase logging level, 2025-05-08)
6e67cdf (additional notes, 2025-05-08)
1d480e4 (pink links in the body of the page, 2025-05-04)
5970eb3 (hardboiled: red menu text to black text, 2025-05-03)
55f4821 (theme adjustments, 2025-05-03)
d35f256 (cleaning themes, 2025-05-03)
481471a (cleaning up formatting, 2025-05-03)
ce3a28d (hardboiled theme mostly setup, 2025-05-03)
ed8ea0f (unionreddark / unionredlight working, 2025-05-03)
80570db (minor touch-up to the Pinkie theme, 2025-05-02)
f7463a1 (changelog update, 2025-05-02)
0c68775 (getting bulma working, styling, themes, 2025-05-02)
e08421b (v0.0.0, 2025-05-01)
88a0c07 (updated bundle, 2025-05-01)
988f249 (moving registration confirmation to a form, 2025-05-01)
1b77045 (cleaner formatting, 2025-05-01)
901db5a (updates to roadmap and faq, 2025-05-01)
66a7ff9 (autocomplete email_address, 2025-05-01)
23df0a1 (bulma styling, 2025-05-01)
1d25e7e (confirmation stuff/mailer, 2025-04-28)
75cb121 (only show 250 chars in posts/index, 2025-04-27)
8313daa (rearrange footer items, 2025-04-27)
81d3d30 (new storage naming convention, 2025-04-26)
5b490fe (enable logging, 2025-04-25)
7dc00d1 (deploy to shared vps, 2025-04-25)
85fee7e (various gem updates, 2025-04-25)
379da9b (setting up for email confirmation, 2025-04-25)
961e658 (cleaner layout for diversions, 2025-04-25)
2485722 (removed extra divs which caused layout issues, 2025-04-25)
fe2e981 (temporarily disable bulma dark mode, 2025-04-25)
9467bf7 (formatting edit/delete/comment buttons, 2025-04-21)
093de15 (changelog, 2025-04-21)
edeb10c (cannot use class textarea for rich_textarea. breaks the layout, 2025-04-21)
e643378 (styles and footer layout, 2025-04-21)
fe9c3a6 (formatting forms with bulma, 2025-04-21)
1a350ed (bulma migration, 2025-04-21)
d10c24b (no need for separate partials folder; just use layouts; nav/footer bg color, 2025-04-07)
670fcd6 (remove non-rich text field, 2025-04-07)
e006487 (removed old non-rich text field, 2025-04-06)
0482329 (removed auth req. from pages; bug on blog#show, 2025-04-06)
bde8c61 (removed auth req. from pages; bug on blog#show, 2025-04-06)
e4762a2 (updated gems; fixed title on post#_post, 2025-04-06)
7a7082c (made repository public and linked to it, 2025-04-06)
062c2b6 (added link to software on github, 2025-04-06)
0586f62 (updated changelog, 2025-04-06)
3d2a763 (added AGPLv3 license, 2025-04-06)
569e01d (Create LICENSE, 2025-04-06)
719fe39 (Merge pull request #3 from smhauck/dependabot/bundler/brakeman-7.0.1, 2025-04-06)
f6c7608 (formatting; show blog name in post, 2025-04-06)
f37463d (updated, 2025-04-06)
cb92ba5 (Bump brakeman from 7.0.0 to 7.0.1, 2025-04-04)
4992878 (post-content css class, 2025-04-04)
8659baf (blog page typo; roadmap additions, 2025-04-03)
dbccd17 (only show edit for your account, 2025-04-02)
84341e2 (formatting user about page, 2025-04-02)
0a9528f (formatting user about page, 2025-04-02)
5d78887 (table titles; general formatting, 2025-04-02)
e077957 (remove plaintext body field, 2025-04-02)
53edfac (change from body to content; link_to for delete; styling, 2025-04-02)
13ada04 (replacing post.body with post.content, 2025-04-02)
86ef92a (post.body to post.content, 2025-04-02)
6e233c3 (adding action text, 2025-04-02)
289d783 (only allowed to update your own account, 2025-03-31)
4294d1c (only delete your own posts; confirm on deletion, 2025-03-30)
b9f1865 (can only post to your own blogs, 2025-03-29)
09d0d0d (can only post to your own blog, 2025-03-29)
6e90a90 (user about update functionality, 2025-03-29)
4acf9c9 (need username to sign up, 2025-03-29)
e85a215 (poweredby digitaocean link, 2025-03-29)
0bae30d (call ruby instead of needing command line, 2025-03-29)
4a93c69 (white favicon, transparent navbar icon, 2025-03-29)
981594d (changelog generator script, 2025-03-29)
c2e6dc0 (favicon and navbar icon, 2025-03-29)
3b17d3b (show 500 chars on posts index, 2025-03-29)
09bc9df (added changelog, 2025-03-29)
4a09cba (show link prefixes, 2025-03-28)
1ff7341 (only show Back link if referrer, 2025-03-28)
1495756 (b/ prefix on blog titles, 2025-03-28)
ee128c4 (add d prefix to diversion title, 2025-03-28)
d0e17ae (no posting in diversion unless logged in, 2025-03-28)
c9fd75d (remove more create, edit, delete links if not logged in, 2025-03-28)
f5be1ca (only show edit and create links if logged in, 2025-03-28)
cad18d2 (slogan: Live Life Diversely, 2025-03-28)
e601ada (sign ups soon, 2025-03-28)
1f5a021 (updted version, 2025-03-28)
cc691fe (do not need Pages nav right now, 2025-03-28)
a40830c (allow unauthenticated access to static pages, 2025-03-28)
fa8fb2b (increment version, 2025-03-28)
62f2b26 (switching back to hardcoded pages, 2025-03-28)
bec9f25 (shows version number, 2025-03-28)
ceec130 (use db-backed roadmap, 2025-03-28)
2e5881e (remove 500 char limit, 2025-03-28)
ea5d64a (do not show edit link if not logged in, 2025-03-28)
749a60e (separate link and title on Pages, 2025-03-28)
5c77f60 (must log in to create pages, 2025-03-28)
c547b9d (no signups yet, 2025-03-28)
c7e4c19 (reserved ip, 2025-03-28)
4fb9571 (reduced seeding again, 2025-03-28)
1093732 (seed 1000 users, 2025-03-28)
9701fc4 (docker and kamal working, 2025-03-28)
d684c13 (reverted Dockerfile, 2025-03-27)
6b6846d (removed fly.io file, 2025-03-27)
1e792f8 (gemfile.lock, 2025-03-27)
d212bc0 (docker expose 8080, 2025-03-27)
e7e5009 (Merge pull request #2 from smhauck/flyio-new-files, 2025-03-27)
9da7183 (fly.io deploy 0.0.0.0, 2025-03-27)
e869615 (New files from Fly.io Launch, 2025-03-27)
3990387 (switched from mysql to sqlite3, 2025-03-27)
55fbf2c (can only delete your own blogs, 2025-03-26)
13b288b (comment deletion confirmation; pages to doc/, 2025-03-25)
59d3d3a (pages working as doc/:title, 2025-03-25)
08e0464 (created pages model, table, views. routing pages by page title, 2025-03-25)
4f94f47 (comment selfjoin keys, 2025-03-24)
dfd7df7 (added "post" to posts, "comment" to comments, 2025-03-24)
e70eac7 (added ban_reasons; updated some layouts, 2025-03-24)
20d0cab (basic blog functionality, 2025-03-21)
3f37782 (developer / system docs. prohibited username lists, 2025-03-21)
8882f30 (some notes, 2025-03-21)
b988376 (new posts in and out of diversions, 2025-03-20)
5b2e3d0 (subcomments model associations setup, 2025-03-20)
c2e5a5c (added route alias ... /d -> /diversions, etc, 2025-03-20)
a79f443 (pagy working on diversions and posts, 2025-03-20)
8d34615 (diversions and pagination, 2025-03-20)
7016429 (comments working, 2025-03-19)
f6dab26 (posts for specific user, 2025-03-18)
3c2a85e (user profile and links, 2025-03-18)
9a928cc (post formatting, 2025-03-18)
9e67a7a (sanitize and simple_format posts, 2025-03-18)
1b37a41 (user has posts; posts have users, 2025-03-18)
85b5838 (adding username; recording user_id in posts, 2025-03-18)
40b8b85 (posts require title and body; formatting, 2025-03-17)
eb99fe8 (very basic post formatting, 2025-03-17)
d65d038 (removing duplicate notice, 2025-03-17)
06bd212 (basic posts, 2025-03-17)
6190372 (initial app, 2025-03-17)
</pre>