<h1>Frequently Asked Questions</h1>

<h2>Comments</h2>
<p>Deleting comments works two ways</p>
<ul>
<li>If there are replies to a comment the comment's content is replaced by the words "Comment Deleted".</li>
<li>If there are no replies to the comment the entire comment is simply removed.</li>
</ul>

<h2>Posts</h2>
<p>Deleting posts works two ways</p>
<ul>
<li>If there are comments on the post the post's content is replaced by the words "Post Deleted".</li>
<li>If there are no comments on the post the entire post is simply removed.</li>
</ul>

<h2>Users</h2>
<ul>
  <li>Account Deletion
    <ul>
      <li>If you have never created any content or have deleted all your content you can immediately delete your account.</li>
      <li>If you have content in your account (Blogs, Posts, or Comments), your account will be frozen for 30 days. During that time you can log in and cancel the account deletion. If you do not cancel the deletion all of your content including Blogs, Posts, Comments, User Profile will be permanently deleted. There is no recovery from this deletion.</li>
    </ul> 
  </li>
  <li>Account Abandonment: Problem for the future.</li>
</ul>

<h2>Usernames</h2>
<ul>
  <li>Maximum username length is 25 characters</li>
  <li>Only letters, numbers, dashes (-), and underscores (_) are allowed.</li>
  <li>Not case-sensitive: JohnDoe and jOHNdOE are considered the same name.</li>
  <li>No spaces ( ). Spaces will be replaced with underscores (_)</li>
  <li>No usernames that are vulgar, profane, or based on hate groups or terrorist organizations.</li>
  <li>You can edit your username any time you wish. NOTE that if you change your username someone else can change their username to your old username.</li>
  <li></li>
</ul>
