<h1>Roadmap</h1>
<h2>Upcoming Features (in approximate order)</h2>
<ol>
  <li>User: Delete Account</li>
  <li>User Profile Links</li>
  <li>Download all your data</li>
  <li>Block User</li>
  <li>Block Diversion</li>
  <li>Can fully erase your data, replacing all posts and comments.</li>
  <li>Block offensive usernames</li>
  <li>Block all users except those specifically allowed</li>
  <li>Block all users who post in diversions you have blocked</li>
  <li>Block all posts with keywords that you have blocked</li>
  <li>Incorporate https://takeitdown.ncmec.org</li>
  <li>Nested Comments</li>
  <li>Private Messages between Users</li>
  <li>User-defined list of blocked words in Private Messages. Example: a user does not like automobiles so any PM with the word "automobile" or "automobiles" will be blocked.</li>
  <li>Diversion Mods</li>
  <li>User Flair by Community</li>
  <li>User Avatar</li>
  <li>Follow a Blog</li>
  <li>Follow / subscribe to Diversion</li>
  <li>Follow / subscribe to Post</li>
  <li>Follow / subscribe to User</li>
  <li>Receive Notifications on new Posts in Diversion</li>
  <li>Receive Notifications on new Posts and Comments by a User</li>
  <li>Sign up with an email address, username and password!</li>
  <li>Full vote scores (+/-) like old Reddit.</li>
  <li>User tagging using @, Community tagging using !.</li>
  <li>A post can consist of a title and any combination of self text, a URL, or nothing else.</li>
  <li>Notifications, on comment replies and when you're tagged.</li>
  <li>Notifications can be sent via email.</li>
  <li>Private messaging support.</li>
  <li>Anchor to Comment in Post after editing</li>
  <li>i18n / internationalization support.</li>
  <li>Moderation abilities.</li>
  <li>Public Moderation Logs.</li>
  <li>Can pin posts to the top of communities.</li>
  <li>Both site admins, and community moderators, who can appoint other moderators.</li>
  <li>Can lock, remove, and restore posts and comments.</li>
  <li>Can ban and unban users from communities and the site.</li>
  <li>Can fully erase your data, replacing all posts and comments.</li>
  <li>NSFW post / community support</li>
  <li>Federation capabilities</li>
  <li>Federation Consistency: votes, comments, and post history should sync across all instances.</li>
  <li>Logo icons, square, 16, 32, 48, 256</li>
  <li></li>
</ol>


<h2>Working Features</h2>
<ol>
  <li>Logo icons, square, 512</li>
  <li>Blogs: Can only post to your own blogs</li>
  <li>Posts in a specific Blog</li>
  <li>Delete Blog</li>
  <li>Delete Post</li>
  <li>Delete Comment</li>
  <li>Posts standalone</li>
  <li>User: posts by user</li>
  <li>User: comments by user</li>
  <li>Comments on Posts</li>
  <li>Edit Comments</li>
  <li>Edit Posts</li>
  <li>Communities (Diversions)</li>
  <li>Posts in specific Diversions</li>
<ol>
