<h1>Roadmap</h1>
<p>Upcoming Features</p>
<ol>
  <li>Blogs: only posts by a single user</li>
  <li>Diversions (Channels)</li>
  <li>Posts in a specific Blog</li>
  <li>Posts in specific channels</li>
  <li>Comments on Posts</li>
  <li>Block User</li>
  <li>Block Channel</li>
  <li>Private Messages between Users</li>
  <li>Diversion Mods</li>
  <li>Block offensive usernames</li>
  <li>User profile</li>
  <li>User: posts by user</li>
  <li>User: comments by user</li>
  <li>User: Delete Account</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ol>


<p>Working Features</p>
<ol>
  <li>Posts standalone</li>
<ol>
