<h1>Roadmap</h1>
<h2>Upcoming Features</h2>
<ol>
  <li>Blogs: only posts by a single user</li>
  <li>Posts in a specific Blog</li>
  <li>Posts in specific Communities</li>
  <li>Nested Comments</li>
  <li>Block User</li>
  <li>Block Diversion</li>
  <li>Private Messages between Users</li>
  <li>Diversion Mods</li>
  <li>Block offensive usernames</li>
  <li>User Profile</li>
  <li>User: Delete Account</li>
  <li>User Flair by Community</li>
  <li>Follow a Blog</li>
  <li>Follow / subscribe to Diversion</li>
  <li>Follow / subscribe to Post</li>
  <li>Follow / subscribe to User</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ol>


<h2>Working Features</h2>
<ol>
  <li>Posts standalone</li>
  <li>User: posts by user</li>
  <li>User: comments by user</li>
  <li>Comments on Posts</li>
  <li>Edit Comments</li>
  <li>Edit Posts</li>
  <li>Communities (Diversions)</li>
<ol>
