<%= render @post %>

<div>
  <% if Current.user.id %>
    <% if Current.user.id == @post.user_id %>
      <%= button_to "Edit Post", edit_post_path(@post), method: :get %> <%= button_to "Delete Post", @post, method: :delete %>
    <% end %>
  <% end %>
  <%= link_to "Comment on Post", new_post_comment_path(@post) %>
</div>
