<%= render @post %>

<div>
  <% if Current.user %>
    <% if Current.user.id == @post.user_id %>
      <%= link_to "Edit Post", edit_post_path(@post), method: :get %>
      <%= link_to "Delete Post", @post, data: {turbo_method: :delete, turbo_confirm: "Confirm Deletion"} %>
    <% end %>
  <% end %>
  <% if Current.user %><%= link_to "Comment on Post", new_post_comment_path(@post) %><% end %>
</div>
