/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/css/bootstrap";


nav {
  border: 1px solid #000;
}

a.navbar-brand:hover {
  background-color: #eee;
  color: #000;
}
 
.navbar-toggler {
  background-color: #00f;
  color: #00f;
}

.navbar-togger-icon {
  background-color: #00f;
  color: #00f;
}

.nav-item a, .nav-item a:visited {
  background-color: #fff;
  color: #000;
}

.nav-item a:hover {
  background-color: #eee;
  color: #000;
}


