<p style="color: green"><%= notice %></p>

<% content_for :title, "Diversions" %>

<h2>Diversions</h2>

<% if Current.user %><%= link_to "New diversion", new_diversion_path %><% end %>

  <div class="box diversion">
  <% @diversions.each do |diversion| %>
    <%= render diversion %>
  <% end %>
  </div>

