<p style="color: green"><%= notice %></p>

<% content_for :title, "Diversions" %>

<div><%= link_to "Back", request.referrer %></div>
<h1>Diversions</h1>

<div id="diversions">
  <% @diversions.each do |diversion| %>
    <%= render diversion %>
  <% end %>
</div>

<%= link_to "New diversion", new_diversion_path %>
